body{
    background-color:#17202A;
}

.post {
  padding-top: 40px;
  margin-bottom: auto;
}

form {
  padding-top: 100px;
}

h4 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: left;
}

div.column {
    display: inline-block;
}

.shows{
    text-align:center;
}

.mainHeading{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    align:center;
    margin:0 auto;
    color: #FFF;
    font-family:Lucida Sans Unicode;
    fontWeight: 300;
}
