body{
    background-color:#17202A;
}

.post {
  padding-top: 40px;
  margin-bottom: auto;
}

form {
  padding-top: 100px;
}

.shows{
    text-align:center;
}

.mainHeading{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    align:center;
    margin:0 auto;
    color: #FFF;
    font-family:Lucida Sans Unicode;
    fontWeight: 300;
}

.topbar {
  padding-top: 100px;
  margin-bottom: auto;
}

.tocenter {
    width: 75%;
    margin: 0 auto;
}

#wrap {
    margin: 0; /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99; /* Makes sure that menu remains on top of other page elements */
    position: relative;
    background-color: #366b82;
}

.menu {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute; /* Ensures that the menu doesn’t affect other elements */
    border-right: 1px solid #8c8c8c;
}

.menu li {
    height: auto;
    width: 200px;  /* Each menu item is 150px wide */
    float: left;  /* This lines up the menu items horizontally */
    text-align: center;  /* All text is placed in the center of the box */
    list-style: none;  /* Removes the default styling (bullets) for the list */
    font: normal bold 14px/1.2em Times New Roman;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.menu a {
    padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
    border-left: 1px solid #8c8c8c; 
    border-right: 1px solid #8c8c8c; 
    border-top: 1px solid #8c8c8c; 
    border-bottom: 1px solid #8c8c8c; 
    text-decoration: none;  /* Removes the default hyperlink styling. */
    color: white; /* Text color is white */
    display: block;
}

li:hover#menu, a:hover#menu {
    background-color: red;
}

.menu li ul {
    display: none;  /* Hides the drop-down menu */
    height: auto;
    margin: 0; /* Aligns drop-down box underneath the menu item */
    padding: 0; /* Aligns drop-down box underneath the menu item */
}

.menu li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
}

.menu li ul li {
    background-color: #262626;
}

.menu li ul li a {
    border-left: 1px solid #8c8c8c;
    border-right: 1px solid #8c8c8c;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

.menu li ul li a:hover {
    background-color: #1a1a1a;
}

.graphDisplay{
    width:75%;
    margin:0 auto;
}